$mainBackgroundColor: black;
$mainTextColor: white;
$buttonMainColor: green;
$buttonMainColorHover: white;


body{
    background-color: #212529;
}

#addPost{

    background-color: $mainBackgroundColor;
    border-color: $mainTextColor;
    border: 1px solid;
    border-radius: 15px;
    color: $mainTextColor;
    display: flex;
    position: relative;
    width: 45vw;
    height: 30vh;
    padding: 15px;
    button{
        background-color: $buttonMainColorHover;
        display: flexbox;
        position: absolute;
        font-size: 20px;
        right: 10%;
        top: 10%;
        color: $mainBackgroundColor;

        &:hover{
            background-color: $buttonMainColor;
            font-size: 25px;
            color: $mainBackgroundColor;
        }
    }
    
}

h2{
    padding-left: 2%;
    margin: 5%;
}
form{
    display: block;
    padding: 1%;
    label{
        margin-bottom: 5%;
    }

    input{
        display: flex;
        position: relative;
        right: 0%;
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
    }
    textarea{
        padding-left: 5%
    };
}

#post{
    background-color: $mainBackgroundColor;
    border-color: $mainTextColor;
    border: 1px solid;
    border-radius: 15px;
    color: $mainTextColor;
    display: flex;
    position: relative;
    width: 15vw;
    height: 15vh;
    padding: 15px;

    & :hover{
        background-color: $mainTextColor;
        width:max-content;
    }
}


.postList{
    display: flexbox;
    flex-direction: row;
    section{
        display: flexbox;
        flex-direction: row;
    }
}