$mainBackgroundColor: black;
$mainTextColor: white;
$buttonMainColor: green;
$buttonMainColorHover: white;


body{
    background-color: #212529;
}

#addPost{
background-color: #fff;
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 15px;
box-shadow: 0 0 5px 5px rgba($color: #8b8b8b, $alpha: 1.2);
grid-auto-flow: row;

label{
    margin: 5px 0;
    padding: 2%;
    width: 100%;
}

    button{
        background-color: $buttonMainColorHover;
        transition: all .5s;

        &:hover{
            background-color: $buttonMainColor;
            color: $mainBackgroundColor;
            transform: scale(1.1);
        }
    }
    
}

h2{
    padding-left: 2%;
    margin: 5%;
}
form{
    display: block;
    padding: 1%;
    label{
        margin-bottom: 5%;
    }

    input{
        display: flex;
        position: relative;
        right: 0%;
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
    }
    textarea{
        padding-left: 5%
    };
}

#post{
    background-color: $mainBackgroundColor;
    border-color: $mainTextColor;
    border: 1px solid;
    border-radius: 15px;
    color: $mainTextColor;
    display: flex;
    position: relative;
    width: 15vw;
    height: 15vh;
    padding: 15px;

    & :hover{
        background-color: $mainTextColor;
        width:max-content;
    }
}


.postList{
    display: flexbox;
    flex-direction: row;
    section{
        display: flexbox;
        flex-direction: row;
    }
}