.products{
    display: block;
    z-index: 2;
    margin-bottom: 5%;
}

.gallerty-div{
    width: 100%;
    height: 20vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 3%;
}

.gallery-title{
    font-family:'Libre Baskerville', serif;
    font-size: 50px;
    color: #212529;
    text-align: center;
    text-decoration: underline;
}