.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.card{
    width: 65vw;
    height: 50vh;
}
#div-img-product{
    display: flex;
    justify-content: center;
    width: 15vw;
    height: 45vh;
    margin: 2% auto;

}
#div-img-product img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: right;
    object-fit: fill;
    object-position: center;
}
.card-title{
    font-size: 50px;
    text-align: center;
    font-family:'Libre Baskerville', serif;
    text-decoration: underline;
}
.card-text{
    text-align: justify;
    font-family:'Libre Baskerville', serif;
    padding: 5px;
    margin-top: 3px;
}

.price-div{
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: 3%;

    button{
        background-color: #077c16;
        border-radius: 10px;
        transition: all .4s;

        &:hover{
            transform: scale(1.1);
            box-shadow: 0 0 4px 5px rgba($color: #686666, $alpha: 0.5);
        }
    }
}

