element.style {
    padding-top: 0%;
}

.video1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    padding-top: 0%;}

.video2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 0%;
}

.video3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 0%;
}

.video4{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 0%;
}