.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer{
  background-color: #282c34;
  height: 400px;
  color: white;
  align-items:flex-start;
  position: relative;
  /* bottom: 25px; */
  /* left: 50px; */
}
.footer-icons{
  font-size: 25px;
}
#navBarMain{
  height: 90px;
}
#buttonTrigger{
  height: 100px;
  width: 600px;
  position: absolute;
  left: 750px;
  top: 600px;
  /* margin: auto; */
  z-index: 1;
}
#textTrigger{
  font-size: 25px;
  margin: auto
}
#offcanvasNavbar{
  color: white
}
#navbarOptions{
  font-size: 20px;
}
.carousel{
  height: 700px;
  width: 1500px;
  margin: auto;
  position: absolute;
  border: solid white 1px;
  border-radius: 15px;
}
.d-block{
  height: auto;
  width: max-content;
}
.carouselMain{
  height: 701px;
  width: 100%;
  border: solid red 1px;
  background-color: #282c34;
}
.productMain{
  background-color: pink;
  border: black solid 1px;
  height: 800px;
  width: 100%;
}