.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer{
  background-color: #282c34;
  height: 200px;
  color: white;
  align-items:flex-start;
  position: relative;
  /* bottom: 25px; */
  /* left: 50px; */
}
.footer-icons{
  height: 50px;
  width: 50px;
  margin: auto;
}
#navBarMain{
  height: 90px;
}
#buttonTrigger{
  height: 100px;
  width: 600px;
  position: absolute;
  left: 750px;
  top: 600px;
  /* margin: auto; */
  z-index: 1;
}
#textTrigger{
  font-size: 25px;
  margin: auto
}